/* Fonts */

/* Color Scheme */

/* Global Variables */


/* Typography */
html {
    box-sizing: border-box;
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    width: 100%;
}


/* Delete These Temporary Values */
