/* Fonts */

@font-face {
    font-family: 'handwriting';
    src: url('../fonts/journal-webfont-webfont.woff2') format('woff2'),
         url('../fonts/journal-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'typewriter';
    src: url('../fonts/veteran_typewriter-webfont-webfont.woff2') format('woff2'),
         url('../fonts/veteran_typewriter-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Color Scheme */

/* Global Variables */


/* Typography */
html {
    box-sizing: border-box;
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    width: 100%;
}


/* Delete These Temporary Values */
section {
    border: 1px solid red;
}
