* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background-color: #c7f0c7;
    border: 5px solid #238000;
}

/* Height is 50% - 20px. 15px to make up for the margin, and 5px to make up for the border. */
.main {
    height: calc(50% - 20px);
    background-color: #fabbbb;
    border: 5px solid #a52b2a;
}

/* Height is 25% - 20px. 15px to make up for the margin, and 5px to make up for the border. */
.header, .footer {
    height: calc(25% - 20px);
    background-color: #add8e6;
    border: 5px solid #2000ff;
}

.container > * {
    margin: 15px;
}