* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background-color: #c7f0c7;
    border: 5px solid #238000;
}

/* Height is 50% - 20px. 15px to make up for the margin, and 5px to make up for the border. */
.main {
    height: calc(50% - 20px);
    background-color: #fabbbb;
    border: 5px solid #a52b2a;
}

/* Height is 25% - 20px. 15px to make up for the margin, and 5px to make up for the border. */
.header, .footer {
    height: calc(25% - 20px);
    background-color: #add8e6;
    border: 5px solid #2000ff;
    display: flex;
}

.container > * {
    margin: 15px;
}

header > div {
    display: flex;
    flex: 1;
    margin: 15px;
    background-color: #fcdab9;
    border: 5px solid #f78072;
}

header > div > div {
    background-color: #fabbbb;
    border: 5px solid #f50105;
    margin: 5px;
    flex: 1;
}

main {
    display: flex;
}

main > div {
    margin: 15px;
    flex: 1;
}

main > :nth-child(1) {
    border: 5px solid #a52b2a;
}

main > :nth-child(2) {
    display: flex;
    flex-direction: column;
}

main > :nth-child(2) > div {
    flex: 1;
    margin-bottom: 5px;
    border: 5px solid #a52b2a;
}

footer > div {
    display: flex;
    margin: 10px;
}

footer > .main-footer-box {
    flex: 1;
    border: 5px solid #6a5acd;
}

footer > .small-footer-box {
    flex: 0.5;
    border: 5px solid #f78072;
}

.peach {
    background-color: #fcdab9;
}

.salmon {
    background-color: #fac0cb;
}

.light-purple {
    background-color: #e2deff;
}
