:root {
    --dark-color: #1F2937;
    --ultra-white: #F9FAF8;
    --lighter-white: #E5E7EB;
    --button-blue: #3882f6;
    --empty-columns: 0% 10% 0% 10%;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

header, footer {
    background-color: var(--dark-color);
}

main {
    flex-grow: 1;
}

h1, button {
    color: var(--ultra-white);
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 5px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: var(--dark-color);
}

h3 {
    color: var(--ultra-white)
}

p {
    font-size: 18px;
    color: var(--lighter-white)
}

button {
    width: 100px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    background-color: var(--button-blue);
    border-color: var(--button-blue);
}

ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

li {
    padding-left: 16px;
}

a {
    text-decoration: none;
    color: var(--lighter-white);
}

img {
    width: 100%;
    height: 70%;
}

q {
    font-size: 36px;
    font-style: italic; 
    color: var(--dark-color) 
}

.container {
    margin: var(--empty-columns);
    /*display: flex;*/
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.site-logo {
    align-items: center;
    font-size: 24px;
    color: var(--ultra-white);
}

.site-links {
    font-size: 18px;
}

.hero-section {
    background-color: var(--dark-color);
}

.hero {
    display: flex;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.information {
    text-align: center;
    padding-bottom: 75px;
}

.info-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 42px;
}

.info img {
    height: 150px;
    width: 150px;
    border: 5px solid var(--button-blue);
    border-radius: 10px;
}

.text {
    font-style: italic;
    color: var(--dark-color)
}

.quote-section {
    background-color: var(--lighter-white);
}

.quote {
    padding: 30px;
}

#author {
    color: var(--dark-color);
    text-align: end;
}

.cta-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.cta {
    display: flex;
    background-color: var(--button-blue);
    border-radius: 10px;
}

.cta-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
}

.cta-button {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.cta-button button {
    border: 3px solid var(--ultra-white)
}

.cta-info h3, .cta-info p {
    margin: 0px;
    padding-top: 3px;
    padding-left: 150px;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
    color: var(--lighter-white);
}